.video__title {
    max-width: 800px;
    text-align: center;
    line-height: 78px;
    margin: 0 auto;
    margin-bottom: 48px;
}

@media (max-width: 1023px) {
    .video__title {
        max-width: 600px;
        line-height: 46px;
        margin-bottom: 24px;
    }
}