.cover__bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: ease 1s;
}

.cover:hover .cover__bg{
    transform: scale(1.3);
}