.place__title {
    margin: 0;
    line-height: 65px;
}

@media (max-width: 1023px) {
    .place__title {
        line-height: 46px;
    }
}

@media (max-width:767px) {
    .place__title {
        line-height: 35px;
        padding: 0 16px;
    }
}