.video__duration {
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    padding-top: 80px;
    margin: 0;
    margin-bottom: 12px;
}

@media (max-width: 1023px) {
    .video__duration {
        margin-bottom: 8px;
    }
}